* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstPage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.welcome {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: none;
    margin: 20px;
}

/* .welcome video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    z-index: -1;
    opacity: 0.9;
} */
.welcome img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    z-index: -1;
    opacity: 0.9;
}

.welcomeText {
    position: absolute;
    top: 20%;
    color: white;
    font-size: 3rem;
    z-index: 1;
}

.scrollTopIndicator {
    position: absolute;
    top: 65%;
    width: 100%;
    height: 80vh;
    text-align: center;
    margin-top: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    color: white;
    border: none;
}

.scrollDownIndicator {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 80vh;
    text-align: center;
    margin-top: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    color: white;
    border: none;
}

.scrollDownIndicator span {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    margin-left: 10px;
    width: 200px;
    height: 800px;
}

.curve {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.bottomWave {
    width: 100%;
    height: auto;
    margin-top: -50px;
}

.scrollDownIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 2s infinite;
    margin-top: -50px;
    width: 100%;
    height: auto;
}

.serviceWave {
    width: 100%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box {
    font-size: 1rem;
    font-weight: 600;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: salmon;
    margin: 20px;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }

}
.appointment-box {
    font-size: 1rem;
    font-weight: 600;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-blue);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 20px;
    z-index: 1;
    position: absolute;
    right: 10%;
    top: 60%;
}