* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: radial-gradient(circle at top, #1b1035, #07030f);
    color: #fff;
    overflow-x: hidden;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}


.navbar nav a {
    margin: 0 15px;
    color: #ddd;
    text-decoration: none;
}

.btn-primary {
    background: linear-gradient(135deg, #a855f7, #7c3aed);
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid #a855f7;
    color: #fff;
    padding: 12px 22px;
    border-radius: 25px;
    cursor: pointer;
}

/* ================= HERO ================= */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 60px;
}

.badge {
    background: rgba(168, 85, 247, 0.15);
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 56px;
    line-height: 1.2;
}

.hero h1 span {
    color: #a855f7;
}

.subtitle {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0.9;
}

.description {
    margin-top: 15px;
    max-width: 500px;
    opacity: 0.7;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.hero-image img {
    max-width: 420px;
    border-radius: 25px;
    box-shadow: 0 0 60px rgba(168, 85, 247, 0.5);
}

/* ================= SERVICES ================= */
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 60px 80px;
}

.service-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.service-card svg {
    font-size: 30px;
    margin-bottom: 15px;
}

.orange {
    border: 1px solid #fb923c;
}

.orange:hover {
    box-shadow: 0 0 30px #fb923c;
    cursor: pointer;
    color: #fb923c;
}

.blue {
    border: 1px solid #38bdf8;
}

.blue:hover {
    box-shadow: 0 0 30px #38bdf8;
    cursor: pointer;
    color: #38bdf8;
}

.purple {
    border: 1px solid #a855f7;
}

.purple:hover {
    box-shadow: 0 0 30px #a855f7;
    cursor: pointer;
    color: #a855f7;
}

.green {
    border: 1px solid #22c55e;
}

.green:hover {
    box-shadow: 0 0 30px #22c55e;
    cursor: pointer;
    color: #22c55e;
}

/* ================= STATS ================= */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 50px 80px;
  text-align: center;
}

.stats h2 {
  color: #a855f7;
  font-size: 36px;
}
.stats-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* ================= FOOTER ================= */
.footer {
    text-align: center;
    padding: 40px;
    opacity: 0.7;
}

.socials i {
    margin: 0 10px 10px 0;
    font-size: 20px;
    cursor: pointer;
}