/* ================= NAVBAR ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
}


.navbar nav a {
  margin: 0 15px;
  color: #ddd;
  text-decoration: none;
}

.btn-primary {
  background: linear-gradient(135deg, #a855f7, #7c3aed);
  border: none;
  padding: 12px 22px;
  margin-left: 15px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #a855f7;
  color: #fff;
  padding: 12px 22px;
  border-radius: 25px;
  cursor: pointer;
}