.header {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;

}
.links{
    display: flex;
    gap: 20px;
}
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    
}
.link:hover{
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    color: black;
    transition: 0.3s;
    cursor: pointer;
}