
.first-page{
    width: 100%;
    height: 100vh;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome{
    width: 100%;
    height: 50vh;
    background-color: aqua;
}