:root {
  --primary-blue: #021e78;
  --secondary-white: #feffff;
  --accent-cyan: #00feff;
}

@keyframes slide-in-left {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slide-out-left {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}
@layer utilities {
  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease-in forwards;
  }
  .animate-slide-out-left {
    animation: slide-out-left 0.3s ease-out forwards;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  .animate-fade-out {
    animation: fadeOut 1s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateX(10px); }
    to { opacity: 1; transform: translateX(0); }
  }
}

@keyframes move{
 from { transform: translateX(0); opacity: 0; }
 to { transform: translateX(100%); opacity: 1; }
  }
  @layer utilities{
    .animate-move{
      animation: move 1s ease-in-out;
    }
  }

  @keyframes welcome {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  @layer utilities {
    .animate-welcome {
      animation: welcome 0.5s ease-in-out;
    }
  }

  @keyframes colourChange {
    0%, 100% { color: #fb2c36 ; }
    50% { color: #000; }

  }
  @layer utilities {
    .animate-colourChange {
      animation: colourChange 1s steps(1) infinite;
    }
  }